statements/coincap_asset_ingestion_column_details.sql
statements/coincap_asset_ingestion_config.sql
statements/coincap_asset_ingestion_connection_info.sql
statements/coincap_bitcoin_history_ingestion_column_details.sql
statements/coincap_bitcoin_history_ingestion_config.sql
statements/coincap_bitcoin_history_ingestion_connection_info.sql

statements/coincap_exchanges_ingestion_connection_info.sql
statements/coincap_markets_ingestion_connection_info.sql
statements/coincap_project_ingestion_connection_info.sql
statements/coincap_rates_ingestion_connection_info.sql